In [3]:
import pandas as pd
from pandas import read_excel

In [5]:
my_sheet = 'Sheet1'
file_name = 'NPCIJAN2024.xlsx'
df = pd.read_excel(file_name, sheet_name = my_sheet)

In [6]:
df = pd.DataFrame(df)
df

,Unnamed: 0,Col0,"ATM, Acceptance Infrastructure and Card Statistics for the Month of January 2024",Col2,Col3,Col4,Col5,Col6,Col7,Col8,...,Col19,Col20,Col21,Col22,Col23,Col24,Col25,Col26,Col27,Col28
0,0,NaN,Sr.\nNo.,Bank Name,Infrastructure,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,NaN,NaN,NaN,Number - Outstanding (as on month end),NaN,NaN,NaN,NaN,NaN,...,Debit Card,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2,NaN,NaN,NaN,ATMs & CRMs,NaN,PoS,Micro\nATMs,Bharat\nQR\nCodes,UPI QR\nCodes,...,Card Payments Transactions,NaN,NaN,NaN,NaN,NaN,Cash Withdrawal,NaN,NaN,NaN
3,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,at PoS,NaN,Online (e-com),NaN,Others,NaN,ATM,NaN,PoS,NaN
4,4,NaN,NaN,NaN,On-site,Off-site,NaN,NaN,NaN,NaN,...,Volume\n(in actuals),Value (in\nRs'000),Volume\n(in actuals),Value (in\nRs'000),Volume\n(in\nactuals),Value\n(in\nRs'000),Volume\n(in actuals),Value (in\nRs'000),Volume\n(in\nactuals),Value\n(in\nRs'000)
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
77,77,NaN,Total,NaN,126247,93381,8593226,1760454,6003737,321379274,...,119317514,303834070,45014041,148826173,135975,2205492,527218696,2593263252,63943,61194
78,78,Note,The data is provisional,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
79,79,1,Total number of ATMs & CRMs deployed on-site b...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
80,80,2,Total number of ATMs & CRMs deployed off-site ...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
81,81,3,Total number of PoS terminals deployed by the ...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [7]:
#remove later
df['ATM, Acceptance Infrastructure and Card Statistics for the Month of January 2024'].unique()

array(['Sr.\nNo.', nan, 'Scheduled Commercial Banks',
       'Public Sector Banks', '1', '2', '3', '4', '5', '6', '7', '8', '9',
       '10', '11', '12', 'Private Sector Banks', '13', '14', '15', '16',
       '17', '18', '19', '20', '21', '22', '23', '24', '25', '26', '27',
       '28', '29', '30', '31', '32', '33', 'Foreign Banks', '34', '35',
       '36', '37', '38', '39', '40', '41', '42', '43', '44', '45', '46',
       '47', 'Payment Banks', '48', '49', '50', '51', '52', '53',
       'Small Finance Banks', '54', '55', '56', '57', '58', '59', '60',
       '61', '62', '63', '64', '65', 'Total', 'The data is provisional',
       'Total number of ATMs & CRMs deployed on-site by the bank',
       'Total number of ATMs & CRMs deployed off-site by the bank',
       'Total number of PoS terminals deployed by the bank'], dtype=object)

In [8]:
df.columns

Index(['Unnamed: 0', 'Col0',
       'ATM, Acceptance Infrastructure and Card Statistics for the Month of January 2024',
       'Col2', 'Col3', 'Col4', 'Col5', 'Col6', 'Col7', 'Col8', 'Col9', 'Col10',
       'Col11', 'Col12', 'Col13', 'Col14', 'Col15', 'Col16', 'Col17', 'Col18',
       'Col19', 'Col20', 'Col21', 'Col22', 'Col23', 'Col24', 'Col25', 'Col26',
       'Col27', 'Col28'],
      dtype='object')

In [9]:
#creating new column to categorize banks
df["Bank Category"] = ""

In [10]:
pd.set_option('display.max_rows', None)

In [11]:
pd.set_option('display.max_columns', None)

In [19]:
df[['ATM, Acceptance Infrastructure and Card Statistics for the Month of January 2024','Bank Category']]

,"ATM, Acceptance Infrastructure and Card Statistics for the Month of January 2024",Bank Category
0,Sr.\nNo.,
1,NaN,
2,NaN,
3,NaN,
4,NaN,
5,NaN,
6,Scheduled Commercial Banks,
7,Public Sector Banks,
8,1,Public Sector Banks
9,2,Public Sector Banks
10,3,Public Sector Banks
11,4,Public Sector Banks
12,5,Public Sector Banks
13,6,Public Sector Banks
14,7,Public Sector Banks
15,8,Public Sector Banks
16,9,Public Sector Banks
17,10,Public Sector Banks
18,11,Public Sector Banks
19,12,Public Sector Banks
20,Private Sector Banks,
21,13,Private Sector Banks
22,14,Private Sector Banks
23,15,Private Sector Banks
24,16,Private Sector Banks
25,17,Private Sector Banks
26,18,Private Sector Banks
27,19,Private Sector Banks
28,20,Private Sector Banks
29,21,Private Sector Banks
30,22,Private Sector Banks
31,23,Private Sector Banks
32,24,Private Sector Banks
33,25,Private Sector Banks
34,26,Private Sector Banks
35,27,Private Sector Banks
36,28,Private Sector Banks
37,29,Private Sector Banks
38,30,Private Sector Banks
39,31,Private Sector Banks
40,32,Private Sector Banks
41,33,Private Sector Banks
42,Foreign Banks,
43,34,Foreign Banks
44,35,Foreign Banks
45,36,Foreign Banks
46,37,Foreign Banks
47,38,Foreign Banks
48,39,Foreign Banks
49,40,Foreign Banks
50,41,Foreign Banks
51,42,Foreign Banks
52,43,Foreign Banks
53,44,Foreign Banks
54,45,Foreign Banks
55,46,Foreign Banks
56,47,Foreign Banks
57,Payment Banks,
58,48,Payment Banks
59,49,Payment Banks
60,50,Payment Banks
61,51,Payment Banks
62,52,Payment Banks
63,53,Payment Banks
64,Small Finance Banks,
65,54,Small Finance Banks
66,55,Small Finance Banks
67,56,Small Finance Banks
68,57,Small Finance Banks
69,58,Small Finance Banks
70,59,Small Finance Banks
71,60,Small Finance Banks
72,61,Small Finance Banks
73,62,Small Finance Banks
74,63,Small Finance Banks
75,64,Small Finance Banks
76,65,Small Finance Banks
77,Total,
78,The data is provisional,
79,Total number of ATMs & CRMs deployed on-site b...,
80,Total number of ATMs & CRMs deployed off-site ...,
81,Total number of PoS terminals deployed by the ...,

In [13]:
df.iloc[8:20,30] = 'Public Sector Banks'

In [14]:
df.iloc[21:42,30] = 'Private Sector Banks'

In [15]:
df.iloc[43:57,30] = 'Foreign Banks'

In [16]:
df.iloc[58:64,30] = 'Payment Banks'

In [17]:
df.iloc[65:77,30] = 'Small Finance Banks'

In [18]:
df

,Unnamed: 0,Col0,"ATM, Acceptance Infrastructure and Card Statistics for the Month of January 2024",Col2,Col3,Col4,Col5,Col6,Col7,Col8,Col9,Col10,Col11,Col12,Col13,Col14,Col15,Col16,Col17,Col18,Col19,Col20,Col21,Col22,Col23,Col24,Col25,Col26,Col27,Col28,Bank Category
0,0,NaN,Sr.\nNo.,Bank Name,Infrastructure,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Card Payments and Cash Withdrawal Transactions...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,
1,1,NaN,NaN,NaN,Number - Outstanding (as on month end),NaN,NaN,NaN,NaN,NaN,NaN,NaN,Credit Card,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Debit Card,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,
2,2,NaN,NaN,NaN,ATMs & CRMs,NaN,PoS,Micro\nATMs,Bharat\nQR\nCodes,UPI QR\nCodes,Credit\nCards,Debit\nCards,Card Payments Transactions,NaN,NaN,NaN,NaN,NaN,Cash Withdrawal,NaN,Card Payments Transactions,NaN,NaN,NaN,NaN,NaN,Cash Withdrawal,NaN,NaN,NaN,
3,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,at PoS,NaN,Online (e-com),NaN,Others,NaN,At ATM,NaN,at PoS,NaN,Online (e-com),NaN,Others,NaN,ATM,NaN,PoS,NaN,
4,4,NaN,NaN,NaN,On-site,Off-site,NaN,NaN,NaN,NaN,NaN,NaN,Volume\n(in actuals),Value (in\nRs'000),Volume\n(in actuals),Value (in\nRs'000),Volume\n(in\nactuals),Value\n(in\nRs'000),Volume\n(in\nactuals),Value (in\nRs'000),Volume\n(in actuals),Value (in\nRs'000),Volume\n(in actuals),Value (in\nRs'000),Volume\n(in\nactuals),Value\n(in\nRs'000),Volume\n(in actuals),Value (in\nRs'000),Volume\n(in\nactuals),Value\n(in\nRs'000),
5,5,NaN,NaN,NaN,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,
6,6,NaN,Scheduled Commercial Banks,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,
7,7,NaN,Public Sector Banks,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,
8,8,NaN,1,BANK OF BARODA,8407,2621,35956,45227,11954,1642216,2300723,94000243,2286393,8363567,2353854,14642362,0,0,15840,73367,4268370,9599386,754223,3295030,6,13,24810278,119878790,412,413,Public Sector Banks
9,9,NaN,2,BANK OF INDIA,5328,2900,43023,17693,0,991326,74400,47396297,155674,568016,67924,312987,0,0,10164,61194,2944860,6054878,930682,1592588,0,0,16108478,65713449,2554,2548,Public Sector Banks
10,10,NaN,3,BANK OF MAHARASHTRA,1977,300,1785,1879,355014,923725,32995,13616903,54016,233044,20058,117289,0,0,927,4342,1360304,2341296,421590,741244,6672,73328,6128894,26622911,0,0,Public Sector Banks
11,11,NaN,4,CANARA BANK,8131,3960,72047,13427,1,2030488,938914,57413339,995475,3580662,448596,2332086,0,0,92909,508696,6951817,17563469,1319266,4269171,3927,60718,33196988,156296217,586,461,Public Sector Banks
12,12,NaN,5,CENTRAL BANK OF INDIA,2857,1058,2792,9254,6702,1235590,0,28716820,0,0,0,0,0,0,0,0,1468506,3817061,516494,1281250,0,0,8801775,40814216,4181,4361,Public Sector Banks
13,13,NaN,6,INDIAN BANK,4310,599,21791,11074,0,3039310,199110,32192588,158006,631447,84041,645865,0,0,4438,31526,3644297,8216573,1075213,2331378,3324,53739,20032288,92816483,16480,16442,Public Sector Banks
14,14,NaN,7,INDIAN OVERSEAS BANK,2774,732,0,0,0,344684,82413,17885133,71176,198634,19793,73284,0,0,2621,11919,2584469,5678281,582354,1333212,0,0,11780155,49419386,0,0,Public Sector Banks
15,15,NaN,8,PUNJAB AND SIND BANK,949,26,600,194,748,108713,0,4088307,0,0,0,0,0,0,0,0,366464,943407,197979,575174,0,0,1492197,7169832,0,0,Public Sector Banks
16,16,NaN,9,PUNJAB NATIONAL BANK,7860,4385,39090,11265,663102,545232,532834,40196231,672626,2887236,244225,1298448,2,128,10623,28832,4794978,12165174,1830723,4657655,0,0,25567248,129046011,0,0,Public Sector Banks
17,17,NaN,10,STATE BANK OF INDIA,25232,39236,1282632,53227,856911,3496334,18605888,227138869,27053060,95915210,27782169,211023113,0,0,134042,535187,36066509,84960418,9298107,24740022,1193,17268,166575231,851007887,22782,20926,Public Sector Banks
18,18,NaN,11,UCO BANK,2251,227,11024,3568,642,976721,0,12894009,0,0,0,0,0,0,0,0,1496032,3406002,281358,799215,857,15121,6717253,30700033,548,548,Public Sector Banks
19,19,NaN,12,UNION BANK OF INDIA,7827,2226,39174,8004,231678,281812,804755,54538892,898346,3587612,1440926,3321999,0,0,26270,133368,5846949,12694402,2936630,5943844,2939,11478,47020129,140904930,7864,7002,Public Sector Banks
20,20,NaN,Private Sector Banks,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,
21,21,NaN,13,AXIS BANK LTD,6168,9780,1665417,728,728874,75279432,13753510,34349969,29484679,86632505,23843255,116422047,0,0,84017,376875,6247003,18452695,2874831,14641691,15018,396683,19219239,121966706,0,0,Private Sector Banks
22,22,NaN,14,BANDHAN BANK LTD,433,5,53743,0,0,0,0,5886983,0,0,0,0,0,0,0,0,309927,921294,116976,410123,0,0,2308092,12687289,2294,2288,Private Sector Banks
23,23,NaN,15,CITY UNION BANK LTD.,1123,541,6476,59930,0,67062,27814,2739355,57778,223647,24480,193894,0,0,362,1643,436812,1126654,49554,142324,0,0,2481444,13211732,0,0,Private Sector Banks
24,24,NaN,16,CSB BANK LTD.,594,51,0,0,10302,0,65439,870762,112721,488218,106719,1035194,0,0,0,0,188000,393290,16317,57375,4,15,462050,2256821,0,0,Private Sector Banks
25,25,NaN,17,DCB BANK LTD,412,5,8133,0,11234,0,0,825086,0,0,0,0,0,0,0,0,113193,330420,12468,58614,274,7756,408302,1485635,0,0,Private Sector Banks
26,26,NaN,18,DHANALAKSHMI BANK LTD,239,41,1617,0,0,32148,11167,539211,24698,57660,6538,27542,0,0,254,880,174155,330338,6359,16401,0,0,461931,2038173,0,0,Private Sector Banks
27,27,NaN,19,FEDERAL BANK LTD,1639,330,19743,944,6130,4849424,925755,13398007,1670474,5187761,2046970,10840090,0,0,4293,20212,3676675,8478000,1432889,5020241,2613,37458,8628158,43363684,77,69,Private Sector Banks
28,28,NaN,20,HDFC BANK LTD,11395,9293,1570324,4619,2011735,0,20103905,53645998,52656466,157558157,32001744,279556606,0,0,196356,1177087,13312950,43160724,9633447,35583635,88341,1259515,38397022,240989156,5647,5681,Private Sector Banks
29,29,NaN,21,ICICI BANK LTD,9883,7166,1590865,9898,582213,3400671,16797580,32435823,19408160,83202373,41585397,213527318,63,4114,61146,275630,8664251,28873287,3605904,21010561,9140,193613,18079218,123528345,2,1,Private Sector Banks
30,30,NaN,22,IDBI BANK LTD,2299,1023,18482,120,10500,290919,34106,11624600,72320,249486,54760,202873,0,0,417,2339,1478912,3383322,295191,917516,0,0,5730316,28558693,216,221,Private Sector Banks
31,31,NaN,23,IDFC FIRST BANK LTD,838,312,42791,10570,0,38079,2370704,6731809,5135244,12866053,2186028,14022215,0,0,27268,113433,759311,2101604,285189,1988554,0,0,4137641,20190467,0,0,Private Sector Banks
32,32,NaN,24,INDUSIND BANK LTD,1799,1155,215819,146,59304,3873664,2797275,10426233,3975436,21104405,3600625,56011670,0,0,25620,131038,942074,2568010,668415,3170151,893,67002,4468379,27578601,0,0,Private Sector Banks
33,33,NaN,25,JAMMU AND KASHMIR BANK LTD,937,626,14351,942,0,336540,115879,4216655,200466,1507767,121729,465655,0,0,10074,39047,1375210,2930584,1395559,867767,0,0,5725985,28999640,3,1,Private Sector Banks
34,34,NaN,26,KARNATAKA BANK LTD,903,582,10042,0,0,73924,0,5168512,0,0,0,0,0,0,0,0,918485,1804298,89236,238885,0,0,4050968,18957718,0,0,Private Sector Banks
35,35,NaN,27,KARUR VYSYA BANK LTD,1450,803,8776,0,0,32758,10564,4716410,28907,179438,10385,135791,0,0,795,6163,1201203,2972510,203799,761390,265,1054,4401995,21431040,0,0,Private Sector Banks
36,36,NaN,28,KOTAK MAHINDRA BANK LTD,1735,1515,74617,4420,105296,517774,5971753,32961383,9834162,24953214,4802451,37692061,0,0,40381,177792,2620664,6063704,1962503,5930436,0,0,13165972,55017117,0,0,Private Sector Banks
37,37,NaN,29,NAINITAL BANK LTD,0,0,0,0,0,0,0,241813,0,0,0,0,0,0,0,0,16602,33047,5985,19819,0,0,71358,337606,16,5,Private Sector Banks
38,38,NaN,30,RBL BANK LTD,352,37,843933,0,3423,115677,5113532,1451120,7277549,34203307,3252434,36751342,0,0,42186,156444,221082,551501,109958,731054,87,4737,854529,3900706,0,0,Private Sector Banks
39,39,NaN,31,SOUTH INDIAN BANK,904,417,16410,0,6152,90355,388514,3764048,789717,2804381,782371,5387020,0,0,0,0,1279653,3038614,194886,843079,0,0,3055415,14776745,0,0,Private Sector Banks
40,40,NaN,32,TAMILNAD MERCANTILE BANK LTD,494,661,1957,0,0,123749,32326,2274241,44982,193400,16643,109868,0,0,2090,8200,350097,938230,46677,118836,79,238,4676405,19997416,0,0,Private Sector Banks
41,41,NaN,33,YES BANK LTD,1117,168,74540,90542,274549,174464847,1911521,5185561,4105907,10969037,1082585,12583511,0,0,17683,83328,734310,1808759,208905,968755,36,725,2734477,13073942,19,19,Private Sector Banks
42,42,NaN,Foreign Banks,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,
43,43,NaN,34,AMERICAN EXPRESS BANKING CORPORATION,0,0,52628,0,0,0,1341913,0,1280198,10301326,3423311,31280397,0,0,0,0,0,0,0,0,0,0,0,0,0,0,Foreign Banks
44,44,NaN,35,BANK OF AMERICA,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,Foreign Banks
45,45,NaN,36,BANK OF BAHRAIN & KUWAIT B.S.C.,2,0,0,0,0,0,0,70,0,0,0,0,0,0,0,0,1660,5486,129,3272,0,0,1544,7816,0,0,Foreign Banks
46,46,NaN,37,BARCLAYS BANK PLC,0,0,0,0,1,0,0,844,0,0,0,0,0,0,0,0,36,403,15,76,0,0,361,3278,0,0,Foreign Banks
47,47,NaN,38,CITI BANK,0,0,0,0,0,0,187775,0,118330,662136,199896,2499635,0,0,570,4213,0,0,0,0,0,0,0,0,0,0,Foreign Banks
48,48,NaN,39,DBS INDIA BANK LTD,434,474,556,91,0,5224,501162,1990189,450223,2112759,234503,1853934,0,0,3560,10236,260519,572611,96416,266965,0,0,854314,4384867,0,0,Foreign Banks
49,49,NaN,40,DEUTSCHE BANK LTD,13,2,0,0,0,9,0,116557,0,0,0,0,0,0,0,0,31642,99536,14835,58099,0,0,33818,198173,0,0,Foreign Banks
50,50,NaN,41,DOHA BANK Q.P.S.C.,2,0,0,0,0,0,0,20916,0,0,0,0,0,0,0,0,1174,3749,202,342,0,0,2241,13171,0,0,Foreign Banks
51,51,NaN,42,HSBC LTD,46,28,0,0,0,0,645102,709604,778235,2659145,1127157,5773321,0,0,1831,13361,251923,1018913,0,0,0,0,228893,1335729,0,0,Foreign Banks
52,52,NaN,43,KEB HANA BANK,1,0,0,0,0,0,0,1353,0,0,0,0,0,0,0,0,1068,3809,106,457,0,0,401,2951,0,0,Foreign Banks
53,53,NaN,44,KOOKMIN BANK,1,0,0,0,0,0,0,356,0,0,0,0,0,0,0,0,510,1486,72,157,0,0,156,1210,0,0,Foreign Banks
54,54,NaN,45,SBM BANK INDIA LTD,0,0,0,1734,0,0,942002,754217,300868,400007,547715,721847,0,0,1830,5369,11855,36261,12672,40640,0,0,169622,317872,0,0,Foreign Banks
55,55,NaN,46,STANDARD CHARTERED BANK LTD,101,63,0,0,0,0,1006470,1091390,1399039,4583836,1420897,6830830,0,0,2382,14635,600333,1690753,34043,253121,20,416,706733,3525541,0,0,Foreign Banks
56,56,NaN,47,WOORI BANK,0,0,0,0,0,0,0,1100,0,0,0,0,0,0,0,0,2809,9866,1181,3950,0,0,934,6961,0,0,Foreign Banks
57,57,NaN,Payment Banks,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,
58,58,NaN,48,AIRTEL PAYMENTS BANK,0,0,0,115950,0,3348120,0,868152,0,0,0,0,0,0,0,0,9125,14685,139942,207708,0,0,101058,447459,0,0,Payment Banks
59,59,NaN,49,FINO PAYMENTS BANK,0,0,0,405681,0,8378,0,8738107,0,0,0,0,0,0,0,0,156418,354623,8294,10339,0,0,2081084,6772164,125,72,Payment Banks
60,60,NaN,50,INDIA POST PAYMENTS BANK,0,0,0,352954,0,776268,0,14229987,0,0,0,0,0,0,0,0,0,0,252695,97745,0,0,0,0,0,0,Payment Banks
61,61,NaN,51,JIO PAYMENTS BANK,0,0,0,0,0,1937,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,Payment Banks
62,62,NaN,52,NSDL PAYMENTS BANK,0,0,0,520301,0,0,0,615654,0,0,0,0,0,0,0,0,2385,2776,27568,20755,0,0,27036,68071,0,0,Payment Banks
63,63,NaN,53,PAYTM PAYMENTS BANK,1,9,725675,0,0,35743321,0,32348692,0,0,0,0,0,0,0,0,218366,327466,624841,1291413,0,0,1065038,4695651,0,0,Payment Banks
64,64,NaN,Small Finance Banks,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,
65,65,NaN,54,AU SMALL FINANCE BANK LTD,497,2,0,396,0,1134149,872214,2920173,1007132,6251597,1451241,11423386,1346,1254,5422,30444,193913,535902,272545,966062,259,4162,1082378,7355766,34,30,Small Finance Banks
66,66,NaN,55,CAPITAL SMALL FINANCE BANK LTD,175,2,0,0,0,0,0,261342,0,0,0,0,0,0,0,0,27189,94191,5295,20827,0,0,113358,649571,0,0,Small Finance Banks
67,67,NaN,56,EQUITAS SMALL FINANCE BANK LTD,360,4,26394,307,67272,0,0,2064615,0,0,0,0,0,0,0,0,149905,336168,42258,171772,0,0,2936711,8478941,0,0,Small Finance Banks
68,68,NaN,57,ESAF SMALL FINANCE BANK LTD,605,2,0,4141,0,0,0,5553163,0,0,0,0,0,0,0,0,195749,326366,15014,39094,0,0,1050932,5305727,26,19,Small Finance Banks
69,69,NaN,58,FINCARE SMALL FINANCE BANK LTD,171,0,0,436,0,56221,0,5520970,0,0,0,0,0,0,0,0,38825,54196,7318,21340,0,0,866065,4254921,0,0,Small Finance Banks
70,70,NaN,59,JANA SMALL FINANCE BANK LTD,59,2,0,157,0,495655,0,3136350,0,0,0,0,0,0,0,0,48990,103899,8429,24960,0,0,461596,2449614,0,0,Small Finance Banks
71,71,NaN,60,NORTH EAST SMALL FINANCE BANK LTD,16,1,0,0,0,0,0,416278,0,0,0,0,0,0,0,0,5811,8311,0,0,0,0,45952,214688,0,0,Small Finance Banks
72,72,NaN,61,SHIVALIK SMALL FINANCE BANK LTD,25,0,0,0,0,0,0,81751,0,0,0,0,0,0,0,0,4160,10281,4276,15175,0,0,33261,186701,0,0,Small Finance Banks
73,73,NaN,62,SURYODAY SMALL FINANCE BANK LTD,0,0,0,67,0,0,0,738726,0,0,0,0,0,0,0,0,37954,44294,642,1439,0,0,241266,419397,0,0,Small Finance Banks
74,74,NaN,63,UJJIVAN SMALL FINANCE BANK LTD,577,4,0,0,0,571908,0,10024026,0,0,0,0,0,0,0,0,219087,407878,76455,221530,0,0,2988228,16014027,77,88,Small Finance Banks
75,75,NaN,64,UNITY SMALL FINANCE BANK LTD,231,0,23,0,0,0,0,31,0,0,0,0,0,0,0,0,7,7,2,0,0,0,20,68,0,0,Small Finance Banks
76,76,NaN,65,UTKARSH SMALL FINANCE BANK LTD,313,7,0,568,0,34910,243,1829722,155,618,70,702,0,0,0,0,31977,68923,9129,31944,28,453,375886,1415541,0,0,Small Finance Banks
77,77,NaN,Total,NaN,126247,93381,8593226,1760454,6003737,321379274,99500257,957565545,172558618,585317661,156391490,1079116180,1411,5496,826371,4036801,119317514,303834070,45014041,148826173,135975,2205492,527218696,2593263252,63943,61194,
78,78,Note,The data is provisional,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,
79,79,1,Total number of ATMs & CRMs deployed on-site b...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,
80,80,2,Total number of ATMs & CRMs deployed off-site ...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,
81,81,3,Total number of PoS terminals deployed by the ...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,

In [20]:
df.drop(index=[77,78,79,80,81], axis=0, inplace=True)

In [21]:
filter1 = df['ATM, Acceptance Infrastructure and Card Statistics for the Month of January 2024'].isin(["Scheduled Commercial Banks","Public Sector Banks","Private Sector Banks","Foreign Banks","Payment Banks","Small Finance Banks"])

In [22]:
df = df[~filter1]

In [23]:
df.reset_index(drop = True,inplace=True)

In [24]:
df.columns

Index(['Unnamed: 0', 'Col0',
       'ATM, Acceptance Infrastructure and Card Statistics for the Month of January 2024',
       'Col2', 'Col3', 'Col4', 'Col5', 'Col6', 'Col7', 'Col8', 'Col9', 'Col10',
       'Col11', 'Col12', 'Col13', 'Col14', 'Col15', 'Col16', 'Col17', 'Col18',
       'Col19', 'Col20', 'Col21', 'Col22', 'Col23', 'Col24', 'Col25', 'Col26',
       'Col27', 'Col28', 'Bank Category'],
      dtype='object')

In [25]:
df.drop(['Unnamed: 0','Col0','ATM, Acceptance Infrastructure and Card Statistics for the Month of January 2024'], axis=1, inplace = True)

<ipython-input-25-d33c7ce381a3>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.drop(['Unnamed: 0','Col0','ATM, Acceptance Infrastructure and Card Statistics for the Month of January 2024'], axis=1, inplace = True)

In [26]:
#rearranging the columns to get 'Bank Category' column first in order
df = df.reindex(columns=(['Bank Category'] + list([a for a in df.columns if a != 'Bank Category']) ))

In [27]:
df

,Bank Category,Col2,Col3,Col4,Col5,Col6,Col7,Col8,Col9,Col10,Col11,Col12,Col13,Col14,Col15,Col16,Col17,Col18,Col19,Col20,Col21,Col22,Col23,Col24,Col25,Col26,Col27,Col28
0,,Bank Name,Infrastructure,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Card Payments and Cash Withdrawal Transactions...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,,NaN,Number - Outstanding (as on month end),NaN,NaN,NaN,NaN,NaN,NaN,NaN,Credit Card,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Debit Card,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,,NaN,ATMs & CRMs,NaN,PoS,Micro\nATMs,Bharat\nQR\nCodes,UPI QR\nCodes,Credit\nCards,Debit\nCards,Card Payments Transactions,NaN,NaN,NaN,NaN,NaN,Cash Withdrawal,NaN,Card Payments Transactions,NaN,NaN,NaN,NaN,NaN,Cash Withdrawal,NaN,NaN,NaN
3,,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,at PoS,NaN,Online (e-com),NaN,Others,NaN,At ATM,NaN,at PoS,NaN,Online (e-com),NaN,Others,NaN,ATM,NaN,PoS,NaN
4,,NaN,On-site,Off-site,NaN,NaN,NaN,NaN,NaN,NaN,Volume\n(in actuals),Value (in\nRs'000),Volume\n(in actuals),Value (in\nRs'000),Volume\n(in\nactuals),Value\n(in\nRs'000),Volume\n(in\nactuals),Value (in\nRs'000),Volume\n(in actuals),Value (in\nRs'000),Volume\n(in actuals),Value (in\nRs'000),Volume\n(in\nactuals),Value\n(in\nRs'000),Volume\n(in actuals),Value (in\nRs'000),Volume\n(in\nactuals),Value\n(in\nRs'000)
5,,NaN,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26
6,Public Sector Banks,BANK OF BARODA,8407,2621,35956,45227,11954,1642216,2300723,94000243,2286393,8363567,2353854,14642362,0,0,15840,73367,4268370,9599386,754223,3295030,6,13,24810278,119878790,412,413
7,Public Sector Banks,BANK OF INDIA,5328,2900,43023,17693,0,991326,74400,47396297,155674,568016,67924,312987,0,0,10164,61194,2944860,6054878,930682,1592588,0,0,16108478,65713449,2554,2548
8,Public Sector Banks,BANK OF MAHARASHTRA,1977,300,1785,1879,355014,923725,32995,13616903,54016,233044,20058,117289,0,0,927,4342,1360304,2341296,421590,741244,6672,73328,6128894,26622911,0,0
9,Public Sector Banks,CANARA BANK,8131,3960,72047,13427,1,2030488,938914,57413339,995475,3580662,448596,2332086,0,0,92909,508696,6951817,17563469,1319266,4269171,3927,60718,33196988,156296217,586,461
10,Public Sector Banks,CENTRAL BANK OF INDIA,2857,1058,2792,9254,6702,1235590,0,28716820,0,0,0,0,0,0,0,0,1468506,3817061,516494,1281250,0,0,8801775,40814216,4181,4361
11,Public Sector Banks,INDIAN BANK,4310,599,21791,11074,0,3039310,199110,32192588,158006,631447,84041,645865,0,0,4438,31526,3644297,8216573,1075213,2331378,3324,53739,20032288,92816483,16480,16442
12,Public Sector Banks,INDIAN OVERSEAS BANK,2774,732,0,0,0,344684,82413,17885133,71176,198634,19793,73284,0,0,2621,11919,2584469,5678281,582354,1333212,0,0,11780155,49419386,0,0
13,Public Sector Banks,PUNJAB AND SIND BANK,949,26,600,194,748,108713,0,4088307,0,0,0,0,0,0,0,0,366464,943407,197979,575174,0,0,1492197,7169832,0,0
14,Public Sector Banks,PUNJAB NATIONAL BANK,7860,4385,39090,11265,663102,545232,532834,40196231,672626,2887236,244225,1298448,2,128,10623,28832,4794978,12165174,1830723,4657655,0,0,25567248,129046011,0,0
15,Public Sector Banks,STATE BANK OF INDIA,25232,39236,1282632,53227,856911,3496334,18605888,227138869,27053060,95915210,27782169,211023113,0,0,134042,535187,36066509,84960418,9298107,24740022,1193,17268,166575231,851007887,22782,20926
16,Public Sector Banks,UCO BANK,2251,227,11024,3568,642,976721,0,12894009,0,0,0,0,0,0,0,0,1496032,3406002,281358,799215,857,15121,6717253,30700033,548,548
17,Public Sector Banks,UNION BANK OF INDIA,7827,2226,39174,8004,231678,281812,804755,54538892,898346,3587612,1440926,3321999,0,0,26270,133368,5846949,12694402,2936630,5943844,2939,11478,47020129,140904930,7864,7002
18,Private Sector Banks,AXIS BANK LTD,6168,9780,1665417,728,728874,75279432,13753510,34349969,29484679,86632505,23843255,116422047,0,0,84017,376875,6247003,18452695,2874831,14641691,15018,396683,19219239,121966706,0,0
19,Private Sector Banks,BANDHAN BANK LTD,433,5,53743,0,0,0,0,5886983,0,0,0,0,0,0,0,0,309927,921294,116976,410123,0,0,2308092,12687289,2294,2288
20,Private Sector Banks,CITY UNION BANK LTD.,1123,541,6476,59930,0,67062,27814,2739355,57778,223647,24480,193894,0,0,362,1643,436812,1126654,49554,142324,0,0,2481444,13211732,0,0
21,Private Sector Banks,CSB BANK LTD.,594,51,0,0,10302,0,65439,870762,112721,488218,106719,1035194,0,0,0,0,188000,393290,16317,57375,4,15,462050,2256821,0,0
22,Private Sector Banks,DCB BANK LTD,412,5,8133,0,11234,0,0,825086,0,0,0,0,0,0,0,0,113193,330420,12468,58614,274,7756,408302,1485635,0,0
23,Private Sector Banks,DHANALAKSHMI BANK LTD,239,41,1617,0,0,32148,11167,539211,24698,57660,6538,27542,0,0,254,880,174155,330338,6359,16401,0,0,461931,2038173,0,0
24,Private Sector Banks,FEDERAL BANK LTD,1639,330,19743,944,6130,4849424,925755,13398007,1670474,5187761,2046970,10840090,0,0,4293,20212,3676675,8478000,1432889,5020241,2613,37458,8628158,43363684,77,69
25,Private Sector Banks,HDFC BANK LTD,11395,9293,1570324,4619,2011735,0,20103905,53645998,52656466,157558157,32001744,279556606,0,0,196356,1177087,13312950,43160724,9633447,35583635,88341,1259515,38397022,240989156,5647,5681
26,Private Sector Banks,ICICI BANK LTD,9883,7166,1590865,9898,582213,3400671,16797580,32435823,19408160,83202373,41585397,213527318,63,4114,61146,275630,8664251,28873287,3605904,21010561,9140,193613,18079218,123528345,2,1
27,Private Sector Banks,IDBI BANK LTD,2299,1023,18482,120,10500,290919,34106,11624600,72320,249486,54760,202873,0,0,417,2339,1478912,3383322,295191,917516,0,0,5730316,28558693,216,221
28,Private Sector Banks,IDFC FIRST BANK LTD,838,312,42791,10570,0,38079,2370704,6731809,5135244,12866053,2186028,14022215,0,0,27268,113433,759311,2101604,285189,1988554,0,0,4137641,20190467,0,0
29,Private Sector Banks,INDUSIND BANK LTD,1799,1155,215819,146,59304,3873664,2797275,10426233,3975436,21104405,3600625,56011670,0,0,25620,131038,942074,2568010,668415,3170151,893,67002,4468379,27578601,0,0
30,Private Sector Banks,JAMMU AND KASHMIR BANK LTD,937,626,14351,942,0,336540,115879,4216655,200466,1507767,121729,465655,0,0,10074,39047,1375210,2930584,1395559,867767,0,0,5725985,28999640,3,1
31,Private Sector Banks,KARNATAKA BANK LTD,903,582,10042,0,0,73924,0,5168512,0,0,0,0,0,0,0,0,918485,1804298,89236,238885,0,0,4050968,18957718,0,0
32,Private Sector Banks,KARUR VYSYA BANK LTD,1450,803,8776,0,0,32758,10564,4716410,28907,179438,10385,135791,0,0,795,6163,1201203,2972510,203799,761390,265,1054,4401995,21431040,0,0
33,Private Sector Banks,KOTAK MAHINDRA BANK LTD,1735,1515,74617,4420,105296,517774,5971753,32961383,9834162,24953214,4802451,37692061,0,0,40381,177792,2620664,6063704,1962503,5930436,0,0,13165972,55017117,0,0
34,Private Sector Banks,NAINITAL BANK LTD,0,0,0,0,0,0,0,241813,0,0,0,0,0,0,0,0,16602,33047,5985,19819,0,0,71358,337606,16,5
35,Private Sector Banks,RBL BANK LTD,352,37,843933,0,3423,115677,5113532,1451120,7277549,34203307,3252434,36751342,0,0,42186,156444,221082,551501,109958,731054,87,4737,854529,3900706,0,0
36,Private Sector Banks,SOUTH INDIAN BANK,904,417,16410,0,6152,90355,388514,3764048,789717,2804381,782371,5387020,0,0,0,0,1279653,3038614,194886,843079,0,0,3055415,14776745,0,0
37,Private Sector Banks,TAMILNAD MERCANTILE BANK LTD,494,661,1957,0,0,123749,32326,2274241,44982,193400,16643,109868,0,0,2090,8200,350097,938230,46677,118836,79,238,4676405,19997416,0,0
38,Private Sector Banks,YES BANK LTD,1117,168,74540,90542,274549,174464847,1911521,5185561,4105907,10969037,1082585,12583511,0,0,17683,83328,734310,1808759,208905,968755,36,725,2734477,13073942,19,19
39,Foreign Banks,AMERICAN EXPRESS BANKING CORPORATION,0,0,52628,0,0,0,1341913,0,1280198,10301326,3423311,31280397,0,0,0,0,0,0,0,0,0,0,0,0,0,0
40,Foreign Banks,BANK OF AMERICA,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
41,Foreign Banks,BANK OF BAHRAIN & KUWAIT B.S.C.,2,0,0,0,0,0,0,70,0,0,0,0,0,0,0,0,1660,5486,129,3272,0,0,1544,7816,0,0
42,Foreign Banks,BARCLAYS BANK PLC,0,0,0,0,1,0,0,844,0,0,0,0,0,0,0,0,36,403,15,76,0,0,361,3278,0,0
43,Foreign Banks,CITI BANK,0,0,0,0,0,0,187775,0,118330,662136,199896,2499635,0,0,570,4213,0,0,0,0,0,0,0,0,0,0
44,Foreign Banks,DBS INDIA BANK LTD,434,474,556,91,0,5224,501162,1990189,450223,2112759,234503,1853934,0,0,3560,10236,260519,572611,96416,266965,0,0,854314,4384867,0,0
45,Foreign Banks,DEUTSCHE BANK LTD,13,2,0,0,0,9,0,116557,0,0,0,0,0,0,0,0,31642,99536,14835,58099,0,0,33818,198173,0,0
46,Foreign Banks,DOHA BANK Q.P.S.C.,2,0,0,0,0,0,0,20916,0,0,0,0,0,0,0,0,1174,3749,202,342,0,0,2241,13171,0,0
47,Foreign Banks,HSBC LTD,46,28,0,0,0,0,645102,709604,778235,2659145,1127157,5773321,0,0,1831,13361,251923,1018913,0,0,0,0,228893,1335729,0,0
48,Foreign Banks,KEB HANA BANK,1,0,0,0,0,0,0,1353,0,0,0,0,0,0,0,0,1068,3809,106,457,0,0,401,2951,0,0
49,Foreign Banks,KOOKMIN BANK,1,0,0,0,0,0,0,356,0,0,0,0,0,0,0,0,510,1486,72,157,0,0,156,1210,0,0
50,Foreign Banks,SBM BANK INDIA LTD,0,0,0,1734,0,0,942002,754217,300868,400007,547715,721847,0,0,1830,5369,11855,36261,12672,40640,0,0,169622,317872,0,0
51,Foreign Banks,STANDARD CHARTERED BANK LTD,101,63,0,0,0,0,1006470,1091390,1399039,4583836,1420897,6830830,0,0,2382,14635,600333,1690753,34043,253121,20,416,706733,3525541,0,0
52,Foreign Banks,WOORI BANK,0,0,0,0,0,0,0,1100,0,0,0,0,0,0,0,0,2809,9866,1181,3950,0,0,934,6961,0,0
53,Payment Banks,AIRTEL PAYMENTS BANK,0,0,0,115950,0,3348120,0,868152,0,0,0,0,0,0,0,0,9125,14685,139942,207708,0,0,101058,447459,0,0
54,Payment Banks,FINO PAYMENTS BANK,0,0,0,405681,0,8378,0,8738107,0,0,0,0,0,0,0,0,156418,354623,8294,10339,0,0,2081084,6772164,125,72
55,Payment Banks,INDIA POST PAYMENTS BANK,0,0,0,352954,0,776268,0,14229987,0,0,0,0,0,0,0,0,0,0,252695,97745,0,0,0,0,0,0
56,Payment Banks,JIO PAYMENTS BANK,0,0,0,0,0,1937,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
57,Payment Banks,NSDL PAYMENTS BANK,0,0,0,520301,0,0,0,615654,0,0,0,0,0,0,0,0,2385,2776,27568,20755,0,0,27036,68071,0,0
58,Payment Banks,PAYTM PAYMENTS BANK,1,9,725675,0,0,35743321,0,32348692,0,0,0,0,0,0,0,0,218366,327466,624841,1291413,0,0,1065038,4695651,0,0
59,Small Finance Banks,AU SMALL FINANCE BANK LTD,497,2,0,396,0,1134149,872214,2920173,1007132,6251597,1451241,11423386,1346,1254,5422,30444,193913,535902,272545,966062,259,4162,1082378,7355766,34,30
60,Small Finance Banks,CAPITAL SMALL FINANCE BANK LTD,175,2,0,0,0,0,0,261342,0,0,0,0,0,0,0,0,27189,94191,5295,20827,0,0,113358,649571,0,0
61,Small Finance Banks,EQUITAS SMALL FINANCE BANK LTD,360,4,26394,307,67272,0,0,2064615,0,0,0,0,0,0,0,0,149905,336168,42258,171772,0,0,2936711,8478941,0,0
62,Small Finance Banks,ESAF SMALL FINANCE BANK LTD,605,2,0,4141,0,0,0,5553163,0,0,0,0,0,0,0,0,195749,326366,15014,39094,0,0,1050932,5305727,26,19
63,Small Finance Banks,FINCARE SMALL FINANCE BANK LTD,171,0,0,436,0,56221,0,5520970,0,0,0,0,0,0,0,0,38825,54196,7318,21340,0,0,866065,4254921,0,0
64,Small Finance Banks,JANA SMALL FINANCE BANK LTD,59,2,0,157,0,495655,0,3136350,0,0,0,0,0,0,0,0,48990,103899,8429,24960,0,0,461596,2449614,0,0
65,Small Finance Banks,NORTH EAST SMALL FINANCE BANK LTD,16,1,0,0,0,0,0,416278,0,0,0,0,0,0,0,0,5811,8311,0,0,0,0,45952,214688,0,0
66,Small Finance Banks,SHIVALIK SMALL FINANCE BANK LTD,25,0,0,0,0,0,0,81751,0,0,0,0,0,0,0,0,4160,10281,4276,15175,0,0,33261,186701,0,0
67,Small Finance Banks,SURYODAY SMALL FINANCE BANK LTD,0,0,0,67,0,0,0,738726,0,0,0,0,0,0,0,0,37954,44294,642,1439,0,0,241266,419397,0,0
68,Small Finance Banks,UJJIVAN SMALL FINANCE BANK LTD,577,4,0,0,0,571908,0,10024026,0,0,0,0,0,0,0,0,219087,407878,76455,221530,0,0,2988228,16014027,77,88
69,Small Finance Banks,UNITY SMALL FINANCE BANK LTD,231,0,23,0,0,0,0,31,0,0,0,0,0,0,0,0,7,7,2,0,0,0,20,68,0,0
70,Small Finance Banks,UTKARSH SMALL FINANCE BANK LTD,313,7,0,568,0,34910,243,1829722,155,618,70,702,0,0,0,0,31977,68923,9129,31944,28,453,375886,1415541,0,0

In [28]:
df.shape

(71, 28)

In [29]:
#dictionary to define final dataframe
rankings = {'Bank Category': df.iloc[6:,0],
            'Bank Name': df.iloc[6:,1],
            'ATM & CRM Onsite':df.iloc[6:,2],
            'ATM & CRM Offsite':df.iloc[6:,3],
            'PoS': df.iloc[6:,4],
            'Micro ATM':df.iloc[6:,5],
            'Bharat QR Codes':df.iloc[6:,6],
            'UPI QR Codes': df.iloc[6:,7],
            'Credit Cards': df.iloc[6:,8],
            'Debit Cards': df.iloc[6:,9],
            'Credit Card Card Payments Transactions PoS  Volume (in actuals)':df.iloc[6:,10],
            'Credit Card Card Payments Transactions PoS  Value (in Rs 000)':df.iloc[6:,11],
            'Credit Card Card Payments Transactions Online(e-com)  Volume (in actuals)':df.iloc[6:,12],
            'Credit Card Card Payments Transactions Online(e-com)  Value (in Rs 000)':df.iloc[6:,13],
            'Credit Card Card Payments Transactions Others  Volume (in actuals)':df.iloc[6:,14],
            'Credit Card Card Payments Transactions Others  Value (in Rs 000)':df.iloc[6:,15],
            'Credit Card Cash Withdrawal At ATM Volume (in actuals)':df.iloc[6:,16],
            'Credit Card Cash Withdrawal At ATM Value (in Rs 000)':df.iloc[6:,17],
            'Debit Card Card Payments Transactions PoS  Volume (in actuals)':df.iloc[6:,18],
            'Debit Card Card Payments Transactions PoS  Value (in Rs 000)':df.iloc[6:,19],
            'Debit Card Card Payments Transactions Online(e-com)  Volume (in actuals)':df.iloc[6:,20],
            'Debit Card Card Payments Transactions Online(e-com)  Value (in Rs 000)':df.iloc[6:,21],
            'Debit Card Card Payments Transactions Others  Volume (in actuals)':df.iloc[6:,22],
            'Debit Card Card Payments Transactions Others  Value (in Rs 000)':df.iloc[6:,23],
            'Debit Card Cash Withdrawal ATM Volume (in actuals)':df.iloc[6:,24],
            'Debit Card Cash Withdrawal ATM Value (in Rs 000)':df.iloc[6:,25],
            'Debit Card Cash Withdrawal PoS Volume (in actuals)':df.iloc[6:,26],
            'Debit Card Cash Withdrawal PoS Value (in Rs 000)':df.iloc[6:,27]
}

In [30]:
npci = pd.DataFrame(rankings)

In [31]:
npci.reset_index(drop = True,inplace=True)

In [32]:
npci

,Bank Category,Bank Name,ATM & CRM Onsite,ATM & CRM Offsite,PoS,Micro ATM,Bharat QR Codes,UPI QR Codes,Credit Cards,Debit Cards,Credit Card Card Payments Transactions PoS Volume (in actuals),Credit Card Card Payments Transactions PoS Value (in Rs 000),Credit Card Card Payments Transactions Online(e-com) Volume (in actuals),Credit Card Card Payments Transactions Online(e-com) Value (in Rs 000),Credit Card Card Payments Transactions Others Volume (in actuals),Credit Card Card Payments Transactions Others Value (in Rs 000),Credit Card Cash Withdrawal At ATM Volume (in actuals),Credit Card Cash Withdrawal At ATM Value (in Rs 000),Debit Card Card Payments Transactions PoS Volume (in actuals),Debit Card Card Payments Transactions PoS Value (in Rs 000),Debit Card Card Payments Transactions Online(e-com) Volume (in actuals),Debit Card Card Payments Transactions Online(e-com) Value (in Rs 000),Debit Card Card Payments Transactions Others Volume (in actuals),Debit Card Card Payments Transactions Others Value (in Rs 000),Debit Card Cash Withdrawal ATM Volume (in actuals),Debit Card Cash Withdrawal ATM Value (in Rs 000),Debit Card Cash Withdrawal PoS Volume (in actuals),Debit Card Cash Withdrawal PoS Value (in Rs 000)
0,Public Sector Banks,BANK OF BARODA,8407,2621,35956,45227,11954,1642216,2300723,94000243,2286393,8363567,2353854,14642362,0,0,15840,73367,4268370,9599386,754223,3295030,6,13,24810278,119878790,412,413
1,Public Sector Banks,BANK OF INDIA,5328,2900,43023,17693,0,991326,74400,47396297,155674,568016,67924,312987,0,0,10164,61194,2944860,6054878,930682,1592588,0,0,16108478,65713449,2554,2548
2,Public Sector Banks,BANK OF MAHARASHTRA,1977,300,1785,1879,355014,923725,32995,13616903,54016,233044,20058,117289,0,0,927,4342,1360304,2341296,421590,741244,6672,73328,6128894,26622911,0,0
3,Public Sector Banks,CANARA BANK,8131,3960,72047,13427,1,2030488,938914,57413339,995475,3580662,448596,2332086,0,0,92909,508696,6951817,17563469,1319266,4269171,3927,60718,33196988,156296217,586,461
4,Public Sector Banks,CENTRAL BANK OF INDIA,2857,1058,2792,9254,6702,1235590,0,28716820,0,0,0,0,0,0,0,0,1468506,3817061,516494,1281250,0,0,8801775,40814216,4181,4361
5,Public Sector Banks,INDIAN BANK,4310,599,21791,11074,0,3039310,199110,32192588,158006,631447,84041,645865,0,0,4438,31526,3644297,8216573,1075213,2331378,3324,53739,20032288,92816483,16480,16442
6,Public Sector Banks,INDIAN OVERSEAS BANK,2774,732,0,0,0,344684,82413,17885133,71176,198634,19793,73284,0,0,2621,11919,2584469,5678281,582354,1333212,0,0,11780155,49419386,0,0
7,Public Sector Banks,PUNJAB AND SIND BANK,949,26,600,194,748,108713,0,4088307,0,0,0,0,0,0,0,0,366464,943407,197979,575174,0,0,1492197,7169832,0,0
8,Public Sector Banks,PUNJAB NATIONAL BANK,7860,4385,39090,11265,663102,545232,532834,40196231,672626,2887236,244225,1298448,2,128,10623,28832,4794978,12165174,1830723,4657655,0,0,25567248,129046011,0,0
9,Public Sector Banks,STATE BANK OF INDIA,25232,39236,1282632,53227,856911,3496334,18605888,227138869,27053060,95915210,27782169,211023113,0,0,134042,535187,36066509,84960418,9298107,24740022,1193,17268,166575231,851007887,22782,20926
10,Public Sector Banks,UCO BANK,2251,227,11024,3568,642,976721,0,12894009,0,0,0,0,0,0,0,0,1496032,3406002,281358,799215,857,15121,6717253,30700033,548,548
11,Public Sector Banks,UNION BANK OF INDIA,7827,2226,39174,8004,231678,281812,804755,54538892,898346,3587612,1440926,3321999,0,0,26270,133368,5846949,12694402,2936630,5943844,2939,11478,47020129,140904930,7864,7002
12,Private Sector Banks,AXIS BANK LTD,6168,9780,1665417,728,728874,75279432,13753510,34349969,29484679,86632505,23843255,116422047,0,0,84017,376875,6247003,18452695,2874831,14641691,15018,396683,19219239,121966706,0,0
13,Private Sector Banks,BANDHAN BANK LTD,433,5,53743,0,0,0,0,5886983,0,0,0,0,0,0,0,0,309927,921294,116976,410123,0,0,2308092,12687289,2294,2288
14,Private Sector Banks,CITY UNION BANK LTD.,1123,541,6476,59930,0,67062,27814,2739355,57778,223647,24480,193894,0,0,362,1643,436812,1126654,49554,142324,0,0,2481444,13211732,0,0
15,Private Sector Banks,CSB BANK LTD.,594,51,0,0,10302,0,65439,870762,112721,488218,106719,1035194,0,0,0,0,188000,393290,16317,57375,4,15,462050,2256821,0,0
16,Private Sector Banks,DCB BANK LTD,412,5,8133,0,11234,0,0,825086,0,0,0,0,0,0,0,0,113193,330420,12468,58614,274,7756,408302,1485635,0,0
17,Private Sector Banks,DHANALAKSHMI BANK LTD,239,41,1617,0,0,32148,11167,539211,24698,57660,6538,27542,0,0,254,880,174155,330338,6359,16401,0,0,461931,2038173,0,0
18,Private Sector Banks,FEDERAL BANK LTD,1639,330,19743,944,6130,4849424,925755,13398007,1670474,5187761,2046970,10840090,0,0,4293,20212,3676675,8478000,1432889,5020241,2613,37458,8628158,43363684,77,69
19,Private Sector Banks,HDFC BANK LTD,11395,9293,1570324,4619,2011735,0,20103905,53645998,52656466,157558157,32001744,279556606,0,0,196356,1177087,13312950,43160724,9633447,35583635,88341,1259515,38397022,240989156,5647,5681
20,Private Sector Banks,ICICI BANK LTD,9883,7166,1590865,9898,582213,3400671,16797580,32435823,19408160,83202373,41585397,213527318,63,4114,61146,275630,8664251,28873287,3605904,21010561,9140,193613,18079218,123528345,2,1
21,Private Sector Banks,IDBI BANK LTD,2299,1023,18482,120,10500,290919,34106,11624600,72320,249486,54760,202873,0,0,417,2339,1478912,3383322,295191,917516,0,0,5730316,28558693,216,221
22,Private Sector Banks,IDFC FIRST BANK LTD,838,312,42791,10570,0,38079,2370704,6731809,5135244,12866053,2186028,14022215,0,0,27268,113433,759311,2101604,285189,1988554,0,0,4137641,20190467,0,0
23,Private Sector Banks,INDUSIND BANK LTD,1799,1155,215819,146,59304,3873664,2797275,10426233,3975436,21104405,3600625,56011670,0,0,25620,131038,942074,2568010,668415,3170151,893,67002,4468379,27578601,0,0
24,Private Sector Banks,JAMMU AND KASHMIR BANK LTD,937,626,14351,942,0,336540,115879,4216655,200466,1507767,121729,465655,0,0,10074,39047,1375210,2930584,1395559,867767,0,0,5725985,28999640,3,1
25,Private Sector Banks,KARNATAKA BANK LTD,903,582,10042,0,0,73924,0,5168512,0,0,0,0,0,0,0,0,918485,1804298,89236,238885,0,0,4050968,18957718,0,0
26,Private Sector Banks,KARUR VYSYA BANK LTD,1450,803,8776,0,0,32758,10564,4716410,28907,179438,10385,135791,0,0,795,6163,1201203,2972510,203799,761390,265,1054,4401995,21431040,0,0
27,Private Sector Banks,KOTAK MAHINDRA BANK LTD,1735,1515,74617,4420,105296,517774,5971753,32961383,9834162,24953214,4802451,37692061,0,0,40381,177792,2620664,6063704,1962503,5930436,0,0,13165972,55017117,0,0
28,Private Sector Banks,NAINITAL BANK LTD,0,0,0,0,0,0,0,241813,0,0,0,0,0,0,0,0,16602,33047,5985,19819,0,0,71358,337606,16,5
29,Private Sector Banks,RBL BANK LTD,352,37,843933,0,3423,115677,5113532,1451120,7277549,34203307,3252434,36751342,0,0,42186,156444,221082,551501,109958,731054,87,4737,854529,3900706,0,0
30,Private Sector Banks,SOUTH INDIAN BANK,904,417,16410,0,6152,90355,388514,3764048,789717,2804381,782371,5387020,0,0,0,0,1279653,3038614,194886,843079,0,0,3055415,14776745,0,0
31,Private Sector Banks,TAMILNAD MERCANTILE BANK LTD,494,661,1957,0,0,123749,32326,2274241,44982,193400,16643,109868,0,0,2090,8200,350097,938230,46677,118836,79,238,4676405,19997416,0,0
32,Private Sector Banks,YES BANK LTD,1117,168,74540,90542,274549,174464847,1911521,5185561,4105907,10969037,1082585,12583511,0,0,17683,83328,734310,1808759,208905,968755,36,725,2734477,13073942,19,19
33,Foreign Banks,AMERICAN EXPRESS BANKING CORPORATION,0,0,52628,0,0,0,1341913,0,1280198,10301326,3423311,31280397,0,0,0,0,0,0,0,0,0,0,0,0,0,0
34,Foreign Banks,BANK OF AMERICA,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
35,Foreign Banks,BANK OF BAHRAIN & KUWAIT B.S.C.,2,0,0,0,0,0,0,70,0,0,0,0,0,0,0,0,1660,5486,129,3272,0,0,1544,7816,0,0
36,Foreign Banks,BARCLAYS BANK PLC,0,0,0,0,1,0,0,844,0,0,0,0,0,0,0,0,36,403,15,76,0,0,361,3278,0,0
37,Foreign Banks,CITI BANK,0,0,0,0,0,0,187775,0,118330,662136,199896,2499635,0,0,570,4213,0,0,0,0,0,0,0,0,0,0
38,Foreign Banks,DBS INDIA BANK LTD,434,474,556,91,0,5224,501162,1990189,450223,2112759,234503,1853934,0,0,3560,10236,260519,572611,96416,266965,0,0,854314,4384867,0,0
39,Foreign Banks,DEUTSCHE BANK LTD,13,2,0,0,0,9,0,116557,0,0,0,0,0,0,0,0,31642,99536,14835,58099,0,0,33818,198173,0,0
40,Foreign Banks,DOHA BANK Q.P.S.C.,2,0,0,0,0,0,0,20916,0,0,0,0,0,0,0,0,1174,3749,202,342,0,0,2241,13171,0,0
41,Foreign Banks,HSBC LTD,46,28,0,0,0,0,645102,709604,778235,2659145,1127157,5773321,0,0,1831,13361,251923,1018913,0,0,0,0,228893,1335729,0,0
42,Foreign Banks,KEB HANA BANK,1,0,0,0,0,0,0,1353,0,0,0,0,0,0,0,0,1068,3809,106,457,0,0,401,2951,0,0
43,Foreign Banks,KOOKMIN BANK,1,0,0,0,0,0,0,356,0,0,0,0,0,0,0,0,510,1486,72,157,0,0,156,1210,0,0
44,Foreign Banks,SBM BANK INDIA LTD,0,0,0,1734,0,0,942002,754217,300868,400007,547715,721847,0,0,1830,5369,11855,36261,12672,40640,0,0,169622,317872,0,0
45,Foreign Banks,STANDARD CHARTERED BANK LTD,101,63,0,0,0,0,1006470,1091390,1399039,4583836,1420897,6830830,0,0,2382,14635,600333,1690753,34043,253121,20,416,706733,3525541,0,0
46,Foreign Banks,WOORI BANK,0,0,0,0,0,0,0,1100,0,0,0,0,0,0,0,0,2809,9866,1181,3950,0,0,934,6961,0,0
47,Payment Banks,AIRTEL PAYMENTS BANK,0,0,0,115950,0,3348120,0,868152,0,0,0,0,0,0,0,0,9125,14685,139942,207708,0,0,101058,447459,0,0
48,Payment Banks,FINO PAYMENTS BANK,0,0,0,405681,0,8378,0,8738107,0,0,0,0,0,0,0,0,156418,354623,8294,10339,0,0,2081084,6772164,125,72
49,Payment Banks,INDIA POST PAYMENTS BANK,0,0,0,352954,0,776268,0,14229987,0,0,0,0,0,0,0,0,0,0,252695,97745,0,0,0,0,0,0
50,Payment Banks,JIO PAYMENTS BANK,0,0,0,0,0,1937,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
51,Payment Banks,NSDL PAYMENTS BANK,0,0,0,520301,0,0,0,615654,0,0,0,0,0,0,0,0,2385,2776,27568,20755,0,0,27036,68071,0,0
52,Payment Banks,PAYTM PAYMENTS BANK,1,9,725675,0,0,35743321,0,32348692,0,0,0,0,0,0,0,0,218366,327466,624841,1291413,0,0,1065038,4695651,0,0
53,Small Finance Banks,AU SMALL FINANCE BANK LTD,497,2,0,396,0,1134149,872214,2920173,1007132,6251597,1451241,11423386,1346,1254,5422,30444,193913,535902,272545,966062,259,4162,1082378,7355766,34,30
54,Small Finance Banks,CAPITAL SMALL FINANCE BANK LTD,175,2,0,0,0,0,0,261342,0,0,0,0,0,0,0,0,27189,94191,5295,20827,0,0,113358,649571,0,0
55,Small Finance Banks,EQUITAS SMALL FINANCE BANK LTD,360,4,26394,307,67272,0,0,2064615,0,0,0,0,0,0,0,0,149905,336168,42258,171772,0,0,2936711,8478941,0,0
56,Small Finance Banks,ESAF SMALL FINANCE BANK LTD,605,2,0,4141,0,0,0,5553163,0,0,0,0,0,0,0,0,195749,326366,15014,39094,0,0,1050932,5305727,26,19
57,Small Finance Banks,FINCARE SMALL FINANCE BANK LTD,171,0,0,436,0,56221,0,5520970,0,0,0,0,0,0,0,0,38825,54196,7318,21340,0,0,866065,4254921,0,0
58,Small Finance Banks,JANA SMALL FINANCE BANK LTD,59,2,0,157,0,495655,0,3136350,0,0,0,0,0,0,0,0,48990,103899,8429,24960,0,0,461596,2449614,0,0
59,Small Finance Banks,NORTH EAST SMALL FINANCE BANK LTD,16,1,0,0,0,0,0,416278,0,0,0,0,0,0,0,0,5811,8311,0,0,0,0,45952,214688,0,0
60,Small Finance Banks,SHIVALIK SMALL FINANCE BANK LTD,25,0,0,0,0,0,0,81751,0,0,0,0,0,0,0,0,4160,10281,4276,15175,0,0,33261,186701,0,0
61,Small Finance Banks,SURYODAY SMALL FINANCE BANK LTD,0,0,0,67,0,0,0,738726,0,0,0,0,0,0,0,0,37954,44294,642,1439,0,0,241266,419397,0,0
62,Small Finance Banks,UJJIVAN SMALL FINANCE BANK LTD,577,4,0,0,0,571908,0,10024026,0,0,0,0,0,0,0,0,219087,407878,76455,221530,0,0,2988228,16014027,77,88
63,Small Finance Banks,UNITY SMALL FINANCE BANK LTD,231,0,23,0,0,0,0,31,0,0,0,0,0,0,0,0,7,7,2,0,0,0,20,68,0,0
64,Small Finance Banks,UTKARSH SMALL FINANCE BANK LTD,313,7,0,568,0,34910,243,1829722,155,618,70,702,0,0,0,0,31977,68923,9129,31944,28,453,375886,1415541,0,0

In [34]:
npci = npci.convert_dtypes()

In [35]:
npci.dtypes

Bank Category                                                                string[python]
Bank Name                                                                    string[python]
ATM & CRM Onsite                                                             string[python]
ATM & CRM Offsite                                                            string[python]
PoS                                                                          string[python]
Micro ATM                                                                    string[python]
Bharat QR Codes                                                              string[python]
UPI QR Codes                                                                 string[python]
Credit Cards                                                                 string[python]
Debit Cards                                                                  string[python]
Credit Card Card Payments Transactions PoS  Volume (in actuals)              string[python]
Credit Card Card Payments Transactions PoS  Value (in Rs 000)                string[python]
Credit Card Card Payments Transactions Online(e-com)  Volume (in actuals)    string[python]
Credit Card Card Payments Transactions Online(e-com)  Value (in Rs 000)      string[python]
Credit Card Card Payments Transactions Others  Volume (in actuals)           string[python]
Credit Card Card Payments Transactions Others  Value (in Rs 000)             string[python]
Credit Card Cash Withdrawal At ATM Volume (in actuals)                       string[python]
Credit Card Cash Withdrawal At ATM Value (in Rs 000)                         string[python]
Debit Card Card Payments Transactions PoS  Volume (in actuals)               string[python]
Debit Card Card Payments Transactions PoS  Value (in Rs 000)                 string[python]
Debit Card Card Payments Transactions Online(e-com)  Volume (in actuals)     string[python]
Debit Card Card Payments Transactions Online(e-com)  Value (in Rs 000)       string[python]
Debit Card Card Payments Transactions Others  Volume (in actuals)            string[python]
Debit Card Card Payments Transactions Others  Value (in Rs 000)              string[python]
Debit Card Cash Withdrawal ATM Volume (in actuals)                           string[python]
Debit Card Cash Withdrawal ATM Value (in Rs 000)                             string[python]
Debit Card Cash Withdrawal PoS Volume (in actuals)                           string[python]
Debit Card Cash Withdrawal PoS Value (in Rs 000)                             string[python]
dtype: object

In [36]:
# Create a dictionary for column data types
dtypes = {col: str if i < 2 else int for i, col in enumerate(npci.columns)}

# Apply the data type conversion
npci = npci.astype(dtypes)

# Verify the data types
print(npci.dtypes)

Bank Category                                                                object
Bank Name                                                                    object
ATM & CRM Onsite                                                              int64
ATM & CRM Offsite                                                             int64
PoS                                                                           int64
Micro ATM                                                                     int64
Bharat QR Codes                                                               int64
UPI QR Codes                                                                  int64
Credit Cards                                                                  int64
Debit Cards                                                                   int64
Credit Card Card Payments Transactions PoS  Volume (in actuals)               int64
Credit Card Card Payments Transactions PoS  Value (in Rs 000)                 int64
Credit Card Card Payments Transactions Online(e-com)  Volume (in actuals)     int64
Credit Card Card Payments Transactions Online(e-com)  Value (in Rs 000)       int64
Credit Card Card Payments Transactions Others  Volume (in actuals)            int64
Credit Card Card Payments Transactions Others  Value (in Rs 000)              int64
Credit Card Cash Withdrawal At ATM Volume (in actuals)                        int64
Credit Card Cash Withdrawal At ATM Value (in Rs 000)                          int64
Debit Card Card Payments Transactions PoS  Volume (in actuals)                int64
Debit Card Card Payments Transactions PoS  Value (in Rs 000)                  int64
Debit Card Card Payments Transactions Online(e-com)  Volume (in actuals)      int64
Debit Card Card Payments Transactions Online(e-com)  Value (in Rs 000)        int64
Debit Card Card Payments Transactions Others  Volume (in actuals)             int64
Debit Card Card Payments Transactions Others  Value (in Rs 000)               int64
Debit Card Cash Withdrawal ATM Volume (in actuals)                            int64
Debit Card Cash Withdrawal ATM Value (in Rs 000)                              int64
Debit Card Cash Withdrawal PoS Volume (in actuals)                            int64
Debit Card Cash Withdrawal PoS Value (in Rs 000)                              int64
dtype: object

In [37]:
    npci.to_csv('npci.csv')